<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>
        To DO List
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>


    <div class="box">
        <% for(var i=0;i<newTasks.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=newTasks[i]%>
                        <p>
            </div>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" placeholder="New Task" name="task" autocomplete="off">
                    <button type="submit">+</button>
                </form>
    </div>


<footer>
    Developed by Nazia.
</footer>


</body>

</html>